@use '../core/variables' as vars;

/*.page__footer {

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding: 1rem;
    color: vars.$color-secondary;

}*/
    
.footer {
  background: black;
  color: grey;
  display:flex;
  flex-direction: row;
  position:relative;
  
}


.footer_left {
margin: 1rem;
padding: 1 rem;
display: flex;
flex-direction: column;
text-align: left;
}

.footer_right {
text-align: right;
display: flex;
flex-direction:column;
position: absolute;
right:20px;
top:20px;
}

    .footer_right div {
      top: 2rem;
      float: left;
    
    }
 
.footer p {
margin-bottom: 10%;
}

