<!--<footer class="page__footer">
  <small>
    &copy; Todos los derechos reservados
    <load
      src="/partials/link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    />
  </small>
</footer>-->
   
        <footer class="footer">
                <div class="footer_left">
                  <p>Legal</p>
                  <p>Cookies</p>
                  <p>Información sobre los anuncios</p>
                </div>

                <div class="footer_right">
                    <div>
                      <p>España</p>
                      <img src="images/es.svg" alt="bandera españa" width="10px" height="10px">
                    </div>

                    <div>
                      <p>@2019 Spotify AB</p>
                    </div>
                   
                </div>

        </footer> 

 
</body>

