<!--<footer class="page__footer">
  <small>
    &copy; Todos los derechos reservados
    <load
      src="/partials/link.html"
      aClass="link__adalab"
      text="Adalab"
      url="https://adalab.es"
    />
  </small>
</footer>-->

    <footer>
        <div id="footer">
            <p>España</p>


        </div><p>España</p>
        <img src="imagenes/es.svg" alt="bandera españa">
        <p>Legal</p>
        <p>Cookie</p>
        <p>Información sobre los anuncios</p>
        <p>@2019 Spptufy AB</p>
    </footer>

</body>



