<!--<main class="page__main">
  <h2>Este es el starter kit de Adalab</h2>
  <p>Lo usamos para aprender:</p>
  <ul class="main__list">
    <li>Sass</li>
    <li>HTML partials</li>
    <li>Gulp</li>
    <li>y muchas cosas más</li>
  </ul>
  <p>Si quieres saber cúales son las rutas correctas para:</p>
  <ul class="main__list">
    <li>
      una <code class="code">&lt;img /&gt;</code> mira el fichero
      <code class="code">./src/html/partials/header.html</code>.
    </li>
    <li>
      y para un <code class="code">background-image</code> mira el fichero
      <code class="code">./src/html/scss/layout/_page.scss</code>.
    </li>
  </ul>
  <p>
    Si quieres saber cómo usar un partial HTML dentro de otro partial, busca en la carperta
    <code class="code">./src/html/index.html</code> y
    <code class="code">./src/html/partials/main.html</code>, y verás cómo estamos creando estos
    enlaces:
  </p>
  <ul class="main__list">
    <li>
      <load
        src="/partials/link.html"
        aClass="link__adalab"
        text="Adalab"
        url="https://adalab.es"
      />
    </li>
    <li>
      <load src="/partials/link.html" text="Más info del starter kit" url="./more-info.html" />
    </li>
  </ul>
</main> -->


<!--COLUMNAS RESPONSIVAS-->
   
   
    <h1>¿Porqué pasarte a premium?</h1>
       
    <div id='container'>

            <div class="container1">  
                <img src="images/benefit-1.png" alt="nota_musica" width="100px" height="autopx">
                <h3>Descargar música</h3>
                <p>Llévala siempre contigo </p>
            </div>

            <div class="container2">  
               <img src="images/benefit-2.png" alt="movil" width="100px" height="autopx" >
                <h3>Sin anuncios</h3>
                <p>Disfruta de la música sin interrupciones</p>
            </div>

             <div class="container3">  
               <img src="images/benefit-3.png" alt="musica" width="100px" height="autopx">
                <h3>Escucha lo que quieras</h3>
                <p>Incluso en el móvil </p>
            </div>

            <div class="container4">  
               <img src="images/benefit-4.png" alt="movil" width="100px" height="autopx">
                <h3>Salta todas las canciones que quieras</h3>
                <p>Simplemente dale a siguiente</p>
            </div>

    </div>

