@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';

h2 {
color:black;
text-align: left;
margin-bottom: 10%;
margin-top: 10%;

}

h3 {
margin-bottom: 10px;
}

.container {
background: white;
color: black;
position: fixed;
display: flex;
text-align: left;
margin-bottom: 25%;

}

.container1 {
margin-bottom: 5%;
}

.container2 {
margin-bottom: 5%;
}

.container3 {
margin-bottom: 5%;
}

.container4 {
margin-bottom: 5%;
}


img {
float:left;
}

